.copyright__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgba(189, 189, 189, 1);
  fill: rgba(189, 189, 189, 1);

  &:hover {
    color: rgba(120, 89, 207, 1);
    fill: rgba(120, 89, 207, 1);
  }

  &:focus {
    color: rgba(120, 89, 207, 1);
    fill: rgba(120, 89, 207, 1);
  }

  &:active {
    color: rgba(89, 60, 172, 1);
    fill: rgba(89, 60, 172, 1);
  }
}

.copyright__title {
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-right: 4px;
}
